html {
  font-size: 62.5%;
  font-family: 'crystal_cathedral';
}

body {
  box-sizing: border-box;
  letter-spacing: 2px;
}

*,
*::before,
*::after {
  font-size: 2rem;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page-content{
  max-width:1500px;
  @apply mx-auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

:root {
  --vs-primary: 32, 56, 100;
  --vs-success: 23, 201, 100;
  --vs-danger: 242, 19, 93;
  --vs-warn: 254, 130, 0;
  --vs-dark: 36, 33, 69;
}
