html {
  font-size: 62.5%;
  font-family: 'crystal_cathedral';
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  font-size: 1.6rem;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --vs-primary: 32, 56, 100;
  --vs-success: 23, 201, 100;
  --vs-danger: 242, 19, 93;
  --vs-warn: 254, 130, 0;
  --vs-dark: 36, 33, 69;
}
